@model IEnumerable<Assessment.Data.UserCaseLoad>

@{
    ViewData["Title"] = "Home Page";
}
<h1>Case management dashboard</h1>
<h3>User case load report</h3>
<table class="table table-condensed table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>UserName</th>
            <th>Worker cases</th>
            <th>Reviewed cases</th>
            <th>Approved cases</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
        <tr>
            <td>@user.UserName</td>
            <td>@user.WorkerCases</td>
            <td>@user.ReviewedCases</td>
            <td>@user.ApprovedCases</td>
        </tr>
        }
    </tbody>
</table>